

@media (min-width: 481px) {
    .mobileBodyNavigation {
      display: none;
    }
  
    body {
      -webkit-overflow-scrolling: touch;
    }
  }
  
  @media (max-width: 768px) {
    .onlineResume,
    .fullscreen {
      display: none;
    }
  }
  
  @media (max-width: 992px) {
    .body-container {
      overflow: auto !important;
      overflow-y: hidden !important;
    }
  
    body {
      -webkit-overflow-scrolling: touch;
    }
  }
  
  /* Needs to be updated */
  
  .aboutMeContainerSection {
    background: chocolate;
  }
  
  .skillsContainerSection {
    background: rgb(145 208 206 / 24%);
  }
  
  .contactContainerSection {
    background: crimson;
  }
  
  .container {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #e49301;
    height: 43px;
    position: relative;
    color: white;
    width: 310px !important;
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;
  }
  
  .container__side {
    bottom: -8px;
    position: absolute;
  
    /* Displayed under the container */
    z-index: -1;
  
    /* Background */
    border: 16px solid #e49301;
    border-left-color: transparent;
  }
  
  .container__side--left {
    /* Position */
    left: -24px;
  }
  
  .container__side--right {
    /* Position */
    right: -24px;
  }
  
  .container__triangle {
    position: absolute;
    top: 100%;
  
    border: 8px solid transparent;
    border-bottom-width: 0;
    border-top-color: #e49301;
  }
  
  .container__triangle--left {
    border-right-width: 0;
    left: 0;
  }
  
  .container__triangle--right {
    border-left-width: 0;
    right: 0;
  }
  