/* html {
    scroll-behavior: smooth;
} */

body {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.body-container {
    width: 100vw;
    height: 94vh;
    display: flex;
    overflow: hidden;
}

.body-container>* {
    width: 100vw;
    height: 94vh;
    flex: 0 0 auto;
    text-align: center;
    /* pointer-events: none; */
}

.landingContainerSection {
    background: url('./assets/landingBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.landingSection {
    background-color: rgb(2 9 14 / 81%);
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lander>* {
    margin: 0px;
}

.lander {
    width: 100%;
    position: relative;
    top: 14%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aboutMeContainerSection {
    background: chocolate;
}

.skillsContainerSection {
    background: coral;
}

.contactContainerSection {
    background: crimson;
}

#heroHeader {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 100;
    padding: 0% 0% 3% 0%;
}

#heroDescription,
#heroContent {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: xx-large;
    font-weight: 600;
}

#heroContent {
    font-size: 22px;
    font-weight: 500;
}

.fa {
    padding: 15px;
    font-size: 22px;
    width: 27px;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 25%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: black;
}





/* Skills Section */

.skillsContainerSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerSkills {
    width: 45%;
    height: 65%;
}

.bar {
    position: relative;
    background-color: #d8d8d8;
    height: 10px;
    margin: 0 0 20px 0;
}

.bar-fill {
    position: absolute;
    height: 10px;
}

.bar-title {
    position: relative;
    font-size: 1em;
    text-align: left;
    margin: 0 0 5px 0;
}

.percent {
    position: absolute;
    right: 0;
}

/* Animations Below - Replace ease-out with infinite for infinite loop*/
/*Edit here for html*/
.bar-fill-html {
    width: 90%;
    background-color: #e44d26;
    animation: bar-fill-html 2s ease-out;
    -moz-animation: bar-fill-html 2s ease-out;
    -webkit-animation: bar-fill-html 2s ease-out;
}

@keyframes bar-fill-html {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}

@-moz-keyframes bar-fill-html {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}

@-webkit-keyframes bar-fill-html {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}

/*Edit here for Javascript*/
.bar-fill-javascript {
    width: 70%;
    background-color: #f8dc3d;
    animation: bar-fill-javascript 2s ease-out;
    -moz-animation: bar-fill-javascript 2s ease-out;
    -webkit-animation: bar-fill-javascript 2s ease-out;
}

@keyframes bar-fill-javascript {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}

@-moz-keyframes bar-fill-javascript {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}

@-webkit-keyframes bar-fill-javascript {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}

/*Edit here for angular*/
.bar-fill-angular {
    width: 75%;
    background-color: #131b28;
    animation: bar-fill-angular 2s ease-out;
    -moz-animation: bar-fill-angular 2s ease-out;
    -webkit-animation: bar-fill-angular 2s ease-out;
}

@keyframes bar-fill-angular {
    0% {
        width: 0px;
    }

    100% {
        width: 75%;
    }
}

@-moz-keyframes bar-fill-angular {
    0% {
        width: 0px;
    }

    100% {
        width: 75%;
    }
}

@-webkit-keyframes bar-fill-angular {
    0% {
        width: 0px;
    }

    100% {
        width: 75%;
    }
}

/*Edit here for rxjs*/
.bar-fill-rxjs {
    width: 70%;
    background-color: #429f46;
    animation: bar-fill-rxjs 2s ease-out;
    -moz-animation: bar-fill-rxjs 2s ease-out;
    -webkit-animation: bar-fill-rxjs 2s ease-out;
}

@keyframes bar-fill-rxjs {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}

@-moz-keyframes bar-fill-rxjs {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}

@-webkit-keyframes bar-fill-rxjs {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}

/*Edit here for Photoshop*/
.bar-fill-nodeJs {
    width: 40%;
    background-color: #0a73dc;
    animation: bar-fill-nodeJs 2s ease-out;
    -moz-animation: bar-fill-nodeJs 2s ease-out;
    -webkit-animation: bar-fill-nodeJs 2s ease-out;
}

@keyframes bar-fill-nodeJs {
    0% {
        width: 0px;
    }

    100% {
        width: 40%;
    }
}

@-moz-keyframes bar-fill-nodeJs {
    0% {
        width: 0px;
    }

    100% {
        width: 40%;
    }
}

@-webkit-keyframes bar-fill-nodeJs {
    0% {
        width: 0px;
    }

    100% {
        width: 40%;
    }
}


.containerResume {
    width: 45%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.skillsButton {
    border: none;
    border-radius: 5%;
    padding: 10px;
    background: #17c38a;
    color: black;
}

.skillsIcon{
    padding: 0%;
    margin: 0%;
}

/* Skills section ends here */











.desktopBodyNavigation {
    height: 6vh;
}

.navigators>* {
    cursor: pointer;
}

.navigators {
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    height: 100%;
    align-items: center;
    font-weight: 700;
    background: rgb(0 0 0 / 90%);
    color: white;
}

#moreAboutButton {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: rgb(3 24 34 / 35%);
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
}


.fa-arrow-right {
    font-size: 15px !important;
    padding: 0px;
}

@media (min-width:380px) and (max-width:480px) {
    .desktopBodyNavigation {
        display: none;
    }

    .fa {
        padding: 0%;
    }

    .body-container {
        overflow: auto !important;
    }
}

@media (min-width:481px) {
    .mobileBodyNavigation {
        display: none;
    }

    body {
        -webkit-overflow-scrolling: touch;
    }
}